In [ ]:
!pip install codeplot

In [ ]:
# Import and connect to the session
import codeplot
cP = await codeplot.connect("wss://api.codeplot.co/room_01hpqznh4efe88tqhr31hd30yr")

In [ ]:
import nest_asyncio
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
nest_asyncio.apply()

df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

In [ ]:
# Let's plot the dataframe head.
await cP.plot(df.head(10));

In [ ]:
# Let's plot the dataframe datatypes.
await cP.plot(df.dtypes);

In [ ]:
# Let's plot the dataframe shape.
await cP.plot(df.shape);

In [ ]:
# Drop rows with missing values in 'age' or 'fare' columns for clarity in the scatter plot
df = df.dropna(subset=['age', 'fare'])

# Create the scatter plot
plt.figure(figsize=(10, 6))  # Set the figure size for better readability
sns.scatterplot(data=df, x='age', y='fare', hue='class', style='sex', size='survived', sizes=(20, 200), alpha=0.7)

# Adding plot title and labels
plt.title('Age vs Fare on the Titanic')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.legend(title='Passenger Details')

# Show the plot
await cP.plot(plt);